body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 2em;
  background-color: rgb(229, 243, 243);
}
.jumbotron2 {
  background-color: white;
  padding-top: 2em;
}
#gallery {
  background-color: rgb(229, 243, 243);
}
